<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

Temp = {{ weatherTotal[0] }} Cº<br>
By = {{ weatherTotal[2] }}<br>
Vejr info = {{ weatherTotal[1] }}

</body>
</html>